*.cf
*.cfe
*.dt
*.epf
*.bak
*.cache
*.ilk
*.log
venv/
__pycache__/
example.*
*.q1c
dist/
build/
FastAPI_Checks.spec
server.txt
checkserver.spec
*.pdf
*.xls
*.xlsx
.env
.env.*
!.env.example
server.log
*.db
*.sqlite
*.sqlite3
*.tmp
*.temp
.vscode/
.idea/
